@model PointOfSalesFull.Models.Branches

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>تفاصيل الفرع</h2>

<div>
    <h4>Branches</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label ">
                اسم الفرع عربى
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_Name)
        </dd>

        <dt>
            <label class="control-label ">
                اسم الفرع انجليزى
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_EName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Branch_ID }) |
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</p>
