@{
    ViewBag.Title = "Home Page";
}
<h1 align="center"> Welcome in Exa Point Of Sales System</h1>
<div class="col-12 col-lg-6">
    <div class="course-content flex flex-wrap justify-content-between align-content-lg-stretch">

            <img  width="1200px" src="~/Content/POS.jpg" />
        
    </div>
    </div>
